* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial;
}

main {
    background: hsla(302, 82%, 76%, 1);
    background: linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
}

#product_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    border-radius: 5px;
}

.prod_container {
    width: 250px;
    height: 400px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    background-color: white;
    transition: 0.5s ease;
}

.prod_container:hover {
    border: 2px solid blue;
    cursor: pointer; 
    color: grey;
    transform: scaleX(105%) scaleY(105%);
}

.prodImageContainer {
    margin: 0;
    width: 100%;
    height: 250px;
    position: relative;
}

.prodImageContainer img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.titleContainer {
    height: 25%;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
.priceContainer {
    height: 5%;
    width: 100%;
    padding-top: 10px;
}


/* 
test modal
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    width: 500px;
    height: 400px;
    background-color: #fefefe;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "image heading"
    "image footer";
}

#modal_heading {
    grid-area: heading;
}

#modal_close {
    position: absolute;
    top: -40px;
    right: 0px;
    padding: 0 6px;
    background-color: #fefefe;
}

#modal_image_container img {
    grid-area: image;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#modal_footer {
    grid-area: footer;
}


/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}